﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Works for 9x9 but would not for other sizes' */
.sudoku-table {
    border: solid 1px black;
    width: 270px;
}

.sudoku-table td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px lightgray;
}

.sudoku-table td label {
    width: 0;
    height: 0;
}