﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sudoku Puzzle Solver</h1>
    <p class="lead">Sudoku puzzle solve allows you to upload sudoku puzzles</p>
    <p>
        @Html.ActionLink("Give it a try", "Index", "Puzzle", null, new { @class="btn btn-default" })
    </p>
</div>