﻿@model Sudoku.Web.Models.PuzzleViewModel

@if (Model.IsFileLoaded && Model.Puzzle != null)
{
    <div id="puzzle" class="">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-offset-2 col-md-4">
                <table class="sudoku-table">
                    @foreach (var row in Model.Puzzle.Rows)
                    {
                        <tr>
                            @foreach (var cell in row.Cells)
                            {
                                <td>
                                    <label data-cell-row="@cell.PuzzleRowIndex" data-cell-column="@cell.PuzzleColumnIndex">
                                        @if (cell.Value != 0)
                                        {
                                            @Html.Raw(cell.Value)
                                        }
                                    </label>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
 
            @using (@Html.BeginForm("Solve", "Puzzle", FormMethod.Post))
            {
                for (int i = 0; i < Model.Puzzle.Cells.Count; i++)
                {
                    <input type="hidden" name="puzzleValues[@i]" value="@Model.Puzzle.Cells[i].Value" />
                }
                @Html.HiddenFor(m => m.PuzzleWidth)
                @Html.HiddenFor(m => m.PuzzleHeight)
                @Html.HiddenFor(m => m.IsFileLoaded)
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="Solve the puzzle" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                
                @Html.ValidationMessage("PuzzleNotSolved", "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
