﻿@using System.Web.UI.WebControls
@model Sudoku.Web.Models.PuzzleViewModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("FileUpload", "Puzzle", FormMethod.Post, new { enctype = "multipart/form-data", id = "file-upload" }))
{
    <div class="form-horizontal">
        <h3>Upload a puzzle file</h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.PuzzleWidth, "Puzzle Width", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.PuzzleWidth, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PuzzleWidth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PuzzleHeight, "Puzzle Height", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.PuzzleHeight, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PuzzleHeight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.File, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="file" name="File" class="form-control" />
                @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">          
                @Html.ValidationMessage("NoValues", "", new { @class = "text-danger" })
                @Html.ValidationMessage("DuplicateValue", "", new { @class = "text-danger" })
                @Html.ValidationMessage("InvalidPuzzleSize", "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
}


@{Html.RenderPartial("_SudokuPuzzle", Model);}

@section Scripts {
    @Scripts.Render("~/Scripts/app/views/puzzle.js")
}